body {
  max-width: 1000px;
  margin: 1% auto;
  padding: 0 1%;
  font: 2vmin -apple-system, BlinkMacSystemFont, /* MacOS and iOS */
               'avenir next', avenir, /* MacOS and iOS */
               'Segoe UI', /* Windows */
               'lucida grande', /* Older MacOS */
               'helvetica neue', helvetica, /* Older MacOS */
               'Fira Sans', /* Firefox OS */
               roboto, noto, /* Google stuff */
               'Droid Sans', /* Old Google stuff */
               cantarell, oxygen, ubuntu, /* Linux stuff */
               'franklin gothic medium', 'century gothic', /* Windows stuff */
               'Liberation Sans', /* Linux */
               sans-serif; /* Everything else */;
  color: #444;
}

h1 {
  font-size: 4vmin;
}

h2 {
  font-size: 3vmin;
}

h3 {
  font-size: 2vmin;
}

.flex-container-bio {
  display: flex;
  flex-direction: row;
  padding: 0px 0px 0px 0px;
  /* border: 2px solid lawngreen; */
}

.flex-bio-left {
  width: 70%;
  padding: 0% 3% 0% 0%; /* top right bottom left */
  /* border: 2px solid red;  */
}

.flex-bio-right {
  display: flex;
  align-items: center;
  width: 30%;
  /* border: 2px solid green; */
}

.flex-container-first {
  display: flex;
  flex-direction: row;
  padding: 0px 0px 0px 0px;
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
}

.flex-container {
  display: flex;
  flex-direction: row;
  padding: 0px 0px 0px 0px;
  border-bottom: 2px solid gray;
}

.flex-left {
  display: flex;
  align-items: center;
  width: 30%;
  /* padding: 60px 0px; */
  /* border: 2px solid red;  */
}

.flex-right {
  width: 70%;
  padding: 0px 0px 0px 3%; /* top right bottom left */
  /* border: 2px solid green; */
}
